/*--------------------------------------------------------------
# Choose Us
--------------------------------------------------------------*/

.untree_co-section {
  padding: 15px 0 30px 0;
}

.feature-img-bg {
  border-radius: 20px;
  background-size: cover;
}

@media (max-width: 1199px) {
  .max-container {
    max-width: 1150px !important;
  }
}

@media (max-width: 481px) {
  .feature-img-bg {
    height: 300px !important;
    margin-bottom: 30px;
  }
}

.feature-1-wrap {
  position: relative;
}

.feature-1 {
  padding: 30px;
  background: rgba(26, 55, 77, 0.05);
  border-radius: 20px;
  min-height: calc(50% - 15px);
  top: 0;
  margin-bottom: 30px !important;
}

@media (max-width: 991.98px) {
  .feature-1 {
    display: block !important;
  }
}

.feature-1 h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

.section-title::before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 30px;
  height: 2px;
  background: rgb(26, 55, 77);
}

.section-title.text-center::before {
  left: 50%;
  transform: translateX(-50%);
}

.title-margin {
  padding-bottom: 10px !important;
}

.choose-us-icons {
  height: 2.5rem;
  margin-bottom: 1rem;
}

@media (max-width: 992px) {
  .choose-us-icons {
    height: 3rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 768px) {
  .choose-us-icons {
    height: 2rem;
    margin-bottom: 1rem;
  }

  .feature-1 {
    padding: 20px 10px 10px;

  }

  .feature-1 h3 {
    font-size: 1.2rem;
  }

  .feature-1 p {
    color:
      color-mix(in srgb, var(--heading-color), transparent 30%);
    font-size: .9rem;
  }
}