
/*==============================================
E-visas for UK, USA or Schengen Visa holder
================================================*/

.title-block {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-block span {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 300;
}

.section-inner {
  padding: 20px 30px 0;
}

.gallery-section {
  text-align: center;
}

.portfolio-item img {
  max-width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 9;
  border-radius: 10px;
}

.portfolio-item .thumb-inner {
  position: absolute;
  z-index: 99;
  bottom: 0;
  text-align: left;
  padding: 20px;
  background-color: rgba(250, 250, 250, 0.5);
  width: 100%;
  height: 60px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.portfolio-item .thumb-inner h4 {
  margin-bottom: 0;
  font-size: 24px;
  color: var(--heading-color);
  margin-top: 0px;
  font-weight: bold;
}

.portfolio-item .thumb-inner p {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  margin-bottom: 0px;
}

.portfolio-item:hover .thumb-inner p {
  position: relative;
  opacity: 1;
  visibility: visible;
  color: #4a4a4a;
}

.portfolio-item:hover .thumb-inner {
  border-radius: 10px;
  height: 100%;
  background-color: rgba(250, 250, 250, 0.903);
  backdrop-filter: blur(5px);
}

.portfolio-item:hover .thumb-inner h4 {
  margin-top: 30%;
  color: var(--accent-color);
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}
