/*==============================================
Popular Country
================================================*/

.swiper-wrapper.row {
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.th-slider.has-shadow {
  padding-left: 12px;
  padding-right: 12px;
  margin: -25px -12px;
}

.th-slider.has-shadow .swiper-wrapper {
  padding: 25px 0;
}

.swiper-fade .swiper-slide {
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

.swiper-fade .swiper-slide-prev {
  opacity: 0;
}

.swiper-pagination-bullets {
  position: relative;
  z-index: 3;
  text-align: center;
  margin: 45px 0 10px 0;
  padding-bottom: 20px;
  line-height: 20px;
  height: 16px;
}

.swiper-pagination-bullets .swiper-pagination-bullet {
  display: inline-block;
  --swiper-pagination-bullet-size: 16px;
  --swiper-pagination-bullet-horizontal-gap: 15px;
  margin: 5px 7px;
  opacity: 1;
  background-color: transparent;
  border: 1px solid #113D48;
  color: #E4E4E4;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  /* Extra small devices */
}

@media (max-width: 575px) {
  .swiper-pagination-bullets .swiper-pagination-bullet {
    --swiper-pagination-bullet-horizontal-gap: 8px;
  }
}

.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}


/*------------------- 3.3. Titles -------------------*/
.sec-title {
  font-size: 2rem;
  margin-top: 3px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.sub-title {
  display: block;
  color: var(--accent-color);
  font-size: 24px;
  line-height: 40px;
  font-weight: 400;
  font-family: var(--style-font);
  position: relative;
  margin-bottom: -4px;

  /* Extra small devices */
}

@media (max-width: 480px) {
  .sub-title {
    font-size: 24px;
    line-height: 30px;
  }
}

@media (max-width: 375px) {
  .sub-title {
    font-size: 20px;
    line-height: 25px;
  }
}

.box-title {
  font-size: 24px;
  line-height: 1.417;
  font-weight: 600;
  margin-top: -0.32em;
}

.box-title a {
  color: inherit;
}

.box-title a:hover {
  color: var(--accent-color);
}

.title-area {
  margin-bottom: calc(var(--section-title-space) - 11px);
  position: relative;
  z-index: 2;
}

.title-area .sec-title {
  margin-bottom: 22px;
}

.title-area.mb-0 .sec-title {
  margin-bottom: -0.24em;
}


/*------------------- 3.10. Animation -------------------*/

.global-img {
  position: relative;
  overflow: hidden;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
  /* Medium devices */
}

.global-img:after {
  background: rgba(255, 255, 255, 0.5);
  content: "";
  height: 0;
  left: 0;
  opacity: 1;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9;
}

.global-img img {
  width: 100%;
  object-fit: cover;
  -webkit-transition: 1.3s all ease;
  transition: 1.3s all ease;
}

@media (max-width: 991px) {
  .global-img {
    min-width: 100%;
    margin-bottom: 30px;
  }
}

.global-img:hover:after {
  height: 100%;
  opacity: 0;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

.global-img:hover img {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

/*------------------- 4.00. Category -------------------*/
/* category area start --------------------------*/
@media (min-width: 1400px) {
  .popular-destination {
    max-width: 1600px;
  }
}

.categorySlider .swiper-pagination-bullets {
  max-width: 250px;
  display: block;
  margin: auto;
  overflow: hidden;
}

.category-area {
  padding: 50px 0 50px 0;
  margin-top: -30px;
  background-size: cover;
}

.category-area .th-container {
  --main-container: 1750px;
}

.category-area .swiper .swiper-slide {
  width: 312px;
}

.category-card {
  position: relative;
  text-align: center;
  margin-bottom: 50px;
}

.category-card .box-img {
  border-radius: 24px;
  margin-bottom: 22px;
}

.category-card .box-img img {
  border-radius: 24px;
  -webkit-transition: 1.3s all ease;
  transition: 1.3s all ease;
}

.category-card .box-title {
  margin-bottom: 0;
}

.category-card .line-btn {
  text-transform: capitalize;
  color: var(--body-color);
}

.category-card .line-btn:before {
  display: none;
}

.category-card:hover .box-img img {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

/* category area end --------------------------*/
.categorySlider2 .swiper-pagination-bullets {
  max-width: 250px;
  display: block;
  margin: auto;
  overflow: hidden;
}

.category-slider3 .swiper-pagination-bullets {
  max-width: 250px;
  display: block;
  margin: auto auto 10px auto;
  overflow: hidden;
}

.category-area3 .th-container {
  --main-container: 1689px;
}